<div class="ContenedorTotal">
<div class="pos-f-t">
      
          <div class="bg-dark p-3">
              <div class="top-Q">
                <nav class="navbar navbar-dark bg-dark">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                      </nav>
                    </div>
            <div class="top-I">
        <a>
            <img  src="assets/byte_logo.png" width="100px" height="70px">
        </a>
        </div>
        
          <div class="top-D">
                
                <div class="top-E">
                       <!--<a [routerLink]="['/home']">Home</a>  -->
                    </div>
                <form >
                        <div class="row">
                        <div class="col">
                        <label for="staticEmail2" class="sr-only">Email</label>
                        <input type="email" class="form-control" id="inputPassword" placeholder="Email">
                    </div>
                        <div class="col">
                        <label for="inputPassword2" class="sr-only">Password</label>
                        <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-outline-light mb-2">Login</button>
                    </div>
                    
                </form>
    
            </div>
            
        
      </div>
      <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">    
    <!-- Sidebar -->
    <div class="s-layout__sidebar">
            <div class="bg-dark p-1">
        <a class="s-sidebar__trigger" href="#0">
            <i class="fa fa-bars"></i>
        </a>
        <nav class="s-sidebar__nav">
            <ul>
               
                <div class="inputWithIcon" id="buscar">
                    <input type="text" id="buscador" placeholder="Buscar">
                    <i class="fa fa-search fa-lg fa-fw" aria-hidden="true"></i>
                  </div>
                    
                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/almacenadoras']">
                        <i class="fa fa-user"></i><em>Almacenadoras</em>
                    </a>
                </li>
                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/aseguradoras']">
                        <i class="fas fa-ambulance"></i> <em>Aseguradoras</em>
                    </a>
                </li>
                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/agrupacion-codigos']">
                        <i class="fa fa-camera"></i><em>Agrupación de Créditos</em>
                    </a>
                </li>
                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/lugar-invercion']">
                        <i class="fa fa-camera"></i><em>Lugares de Inversión</em>
                    </a>
                </li>
                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/ubicacion-garantia']">
                        <i class="fa fa-camera"></i><em>Ubicación de la Garantía</em>
                    </a>
                </li>
                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/origen-fondos']">
                        <i class="fa fa-camera"></i><em>Origen de fondos</em>
                    </a>
                </li>
                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/formas-pago']">
                        <i class="fa fa-camera"></i><em>Formas de pago</em>
                    </a>
                </li>
                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/destinos']">
                        <i class="fa fa-camera"></i><em>Destinos</em>
                    </a>
                </li>
                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/categorias-SIB']">
                        <i class="fa fa-camera"></i><em>Categorias SIB</em>
                    </a>
                </li>
                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/estatus-garantiasReales']">
                        <i class="fa fa-camera"></i><em>Estatus garantias reales</em>
                    </a>
                </li>
                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/estatus-avaluos']">
                        <i class="fa fa-camera"></i><em>Estatus de Valuos</em>
                    </a>
                </li>
                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/ingenieros-valuadores']">
                        <i class="fa fa-camera"></i><em>Ingenieros Valuadores</em>
                    </a>
                </li>
                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/notarios']">
                        <i class="fa fa-camera"></i><em>Notarios</em>
                    </a>
                </li>
                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/motivos-ajustes']">
                        <i class="fa fa-camera"></i><em>Motivos de ajustes</em>
                    </a>
                </li>
                <!-- --------------- -->
                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/dias-inhabiles']">
                        <i class="fa fa-camera"></i><em>Dias inhábiles</em>
                    </a>
                </li>

                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/cobros-adicionales']">
                        <i class="fa fa-camera"></i><em>Cobros adicionales</em>
                    </a>
                </li>

                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/instituciones-cobros-adicionales']">
                        <i class="fa fa-camera"></i><em>Instituciones de cobros adicionales</em>
                    </a>
                </li>

                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/motivos-reversa']">
                        <i class="fa fa-camera"></i><em>Motivos de reversa</em>
                    </a>
                </li>

                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/formas-desembolso']">
                        <i class="fa fa-camera"></i><em>Formas de desembolso</em>
                    </a>
                </li>

                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/motivos-referencias-clientes']">
                        <i class="fa fa-camera"></i><em>Motivos de referencias clientes</em>
                    </a>
                </li>

                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/medios-contacto']">
                        <i class="fa fa-camera"></i><em>Medios de contacto</em>
                    </a>
                </li>

                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/canales-venta']">
                        <i class="fa fa-camera"></i><em>Canales de venta</em>
                    </a>
                </li>

                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/bancos']">
                        <i class="fa fa-camera"></i><em>Bancos</em>
                    </a>
                </li>

                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/relaciones-transacciones']">
                        <i class="fa fa-camera"></i><em>Relaciones transacciones</em>
                    </a>
                </li>

                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/transacciones-deposito']">
                        <i class="fa fa-camera"></i><em>Transacciones de deposito</em>
                    </a>
                </li>

                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/acercamientos']">
                        <i class="fa fa-camera"></i><em>Acercamientos</em>
                    </a>
                </li>

                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/asesores-de-prestamos']">
                        <i class="fa fa-camera"></i><em>Asesores de préstamo</em>
                    </a>
                </li>
                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/datos-generales']">
                        <i class="fa fa-camera"></i><em>Datos Generales</em>
                    </a>
                </li>

                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/tipos-deducciones']">
                        <i class="fa fa-camera"></i><em>Tipo De deducciones</em>
                    </a>
                </li>

                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/tipo-prestamos']">
                        <i class="fa fa-camera"></i><em>Tipo De Prestamos</em>
                    </a>
                </li>

                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/tipo-transaccion']">
                        <i class="fa fa-camera"></i><em>Tipo De Transaccion</em>
                    </a>
                </li>

                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/garantias-contables']">
                        <i class="fa fa-camera"></i><em>Garantias Contables</em>
                    </a>
                </li>

                <li id="item">  
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/frecuencias-amortizacion']">
                        <i class="fa fa-camera"></i><em>Frecuencias de Amortizacion</em>
                    </a>
                </li>
                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/productos']">
                        <i class="fa fa-camera"></i><em>Productos</em>
                    </a>
                </li>
                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/limpieza']">
                        <i class="fa fa-camera"></i><em>limpieza</em>
                    </a>
                </li>
                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/niveles-contabilizacion']">
                        <i class="fa fa-camera"></i><em>Niveles de Contabilizacion</em>
                    </a>
                </li>
                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/poder']">
                        <i class="fa fa-camera"></i><em>Poder</em>
                    </a>
                </li>  
                <li id="item">
                    <a class="s-sidebar__nav-link mantenimiento" [routerLink]="['/instancia']">
                        <i class="fa fa-camera"></i><em>Instancia</em>
                    </a>
                </li>                                
            </ul>
        </nav>
    </div>
    </div>
</div>
</div>
   <!-- Sidebar -->
</div>