/* Primary Styles */


.top-Q{

float: left;
margin-top: 0%;
}
.ContenedorTotal{
position: relative;
}
.top-I{
    
    margin-left: 10%
}

.top-D {
    
    margin-top: -3.7%;
    margin-left: 30%
}

.top-E {
    margin-top: 1%;
    float: left;
    margin-left: 30%;
    font-family: sans-serif;
    color: #ffffff;
}


body {
    font-family: sans-serif;
    font-size: 1em;
    color: #333;
}

h1 {
    font-size: 1.4em;
}

em {
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}
input[type="text"] {
    width: 85%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 4px;
    box-sizing: border-box;
    transition: 0.3s;
  }
  
  input[type="text"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
  }
  
  .inputWithIcon input[type="text"] {
    padding-left: 40px;
  }
  
  .inputWithIcon {
    position: relative;
  }
  
  .inputWithIcon i {
    position: absolute;
    left: 18px;
    top: 8px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
  }
  
  .inputWithIcon input[type="text"]:focus + i {
    color: dodgerBlue;
  }
  
  .inputWithIcon.inputIconBg i {
    background-color: #aaa;
    color: #fff;
    padding: 9px 4px;
    border-radius: 4px 0 0 4px;
  }
  
  .inputWithIcon.inputIconBg input[type="text"]:focus + i {
    color: #fff;
    background-color: dodgerBlue;
  }

/* Layout */

.s-layout {
  
    width: 100%;
    min-height: 0vh;
}

.s-layout__content {
    position: static;
float: left;
    justify-content: center;
    align-items: center;
    flex: 1;
}


/* Sidebar */
.s-layout__sidebar{
    top: 15%;

    margin: auto;
}
.s-sidebar__trigger {
    z-index: 2;
    top: 3;
    left: 0;
    width: 100%;
    height: 4em;
    background: #192b3c;
}

.s-sidebar__trigger>i {
    
    margin: 1.5em 0 0 1.5em;
    color: #f07ab0;
}

.s-sidebar__nav {
    position: fixed;
    top: 0.5%;
    left: -15em;
    overflow: hidden;
    transition: all .3s ease-in;
    width: 15em;
    height: 100%;
    background: #243e56;
    color: rgba(255, 255, 255, 0.7);
}

.s-sidebar__nav ul {
    text-align: center;
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus+.s-sidebar__nav,
.s-sidebar__trigger:hover+.s-sidebar__nav {
    left: 0;
}

.s-sidebar__nav ul {
    position: absolute;
    top: 4em;
    left: 0;
    margin: 0;
    padding: 0;
    width: 15em;
    margin-top: 10%;
}

.s-sidebar__nav ul li {
    width: 100%;
}

.s-sidebar__nav-link {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 4em;
}

.s-sidebar__nav-link em {
    position: absolute;
    top: 50%;
    left: 1em;
    transform: translateY(-50%);
}

.s-sidebar__nav-link:hover {
    background: #4d6276;
}

.s-sidebar__nav-link>i {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 4em;
    height: 4em;
}

.s-sidebar__nav-link>i::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Mobile First */

@media (min-width: 80em) {
    .s-layout__content {
        margin-left: 4em;
    }
    /* Sidebar */
    .s-sidebar__trigger {
        width: 4em;
    }
    .s-sidebar__nav {
        width: 4em;
        left: 0;
    }
    .s-sidebar__nav:hover,
    .s-sidebar__nav:focus,
    .s-sidebar__trigger:hover+.s-sidebar__nav,
    .s-sidebar__trigger:focus+.s-sidebar__nav {
        width: 15em;
    }
}

@media (max-width: 2000px) {
    .s-layout__content {
        margin-left: 10em;
    }
    /* Sidebar */
    .s-sidebar__trigger {
        display: none
    }
    
    .s-sidebar__nav ul {
        top: 1.3em;
    }
}

.s-sidebar__nav {
    width: 13%;
    overflow: auto;
    font-family: 'Open Sans';
    margin-top: 7.7%;
}

.s-sidebar__nav::-webkit-scrollbar {
    width: 10px !important;
    background: rgb(175, 174, 174) !important;
    overflow: scroll;
}


