<app-sidenav></app-sidenav>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



<!-- buscar -->



<!-- EVENTOS DE MODALS-->
<!-- Modal AGREGAR-->
<div class="modal fade" id="ModalAgregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form #formAddAgrupacionDeCreditos="ngForm" (ngSubmit)="addAgrupacionDeCreditos()">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Registro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-body col-md-7 ">
          <div class="form-group">
              <label for="codigo">Codigo</label>
              <input type="text" #codigo="ngModel" [(ngModel)]="agrupaciones.codigo" autocomplete="off"
                class="form-control" name="codigo" id="codigo" placeholder="Ingresar el codigo">
            </div>
            <div class="form-group">
                <label for="descripcion">Descripcion:</label>
                <input type="text" #descripcion="ngModel" [(ngModel)]="agrupaciones.descripcion" autocomplete="off"
                  class="form-control" name="descripcion" id="descripcion" placeholder="Ingresar descripcion">
              </div>
              <div class="form-group ">
                  <label for="equivalencia">EquivalenciasCNBS:</label>
                  <input type="text" #equivalencia="ngModel" [(ngModel)]="agrupaciones.equivalencia" autocomplete="off"
                   class="form-control" name="equivalencia" id="equivalencia" placeholder="Ingresar equivalencia">
                </div>
                
            <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#ModalConfirmacion2"
            (click)="ModalConfirmacion2">Aceptar</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </form>
      <!-- <div class="modal-footer"> </div> -->
    </div>
  </div>
</div>



<!-- Modal eliminar -->
<div class="modal fade" id="ModalConfirmacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form #formDeleteAgrupacionDeCreditos="ngForm" (ngSubmit)="deleteAgrupacionDeCreditos(id)">
      <div class="modal-header">
        <h5 class="modal-title">Confirmacion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Esta seguro de eliminar este dato?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        <button type="submit" class="btn btn-danger"  (ngSubmit)="deleteAgrupacionDeCreditos()" >Si</button>
      </div>
    </form>
    </div>
  </div>
</div>


<!-- Modal editar -->
<div class="modal fade" id="ModalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form #formEditAgrupacionDeCreditos="ngForm" (ngSubmit)="editAgrupacionDeCreditos(id)">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Editar</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body col-md-5 ">
        <div class="form-group ">
            <label for="Descripcion">Descripcion:</label>
            <input type="text" #descripcion="ngModel" [(ngModel)]="agrupaciones.descripcion" autocomplete="off"
              class="form-control" name="descripcion" id="descripcion" placeholder="Ingresar descripcion">
        </div>

        <div class="form-group ">
          <label for="Equivalencias">EquivalenciasCNBS:</label>
          <input type="text" #equivalencia="ngModel" [(ngModel)]="agrupaciones.equivalencia" autocomplete="off"
           class="form-control" name="equivalencia" id="equivalencia" placeholder="Ingresar equivalencia">
        </div>
            <button type="submit" class="btn btn-danger" data-toggle="modal">Aceptar</button>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- Modal confirmacion editar -->

<!--------------------->



<!-- TABLE -->
<H1>Agrupacion De Creditos</H1>
<form class="form-inline my-2 my-lg-0" id="buscador">
    <input class="form-control mr-sm-2" type="search" [(ngModel)]="busquedaAgrupacionCreditos" name="something" placeholder="Buscar" aria-label="Search">
</form>
<div id="content">
  <table class="table">
    <thead class="thead-dark">
      <!-- Columnas -->
      <tr>
        <th scope="col">Select</th>
        <th scope="col">Codigo</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Equivalencia</th>
        <th scope="col"> </th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor='let alm of visualizarAgrupacion | paginate: { itemsPerPage: 4, currentPage: p } | searchAgrupacionCreditos:busquedaAgrupacionCreditos'>
      <!-- Datos Estaticos -->
          <th scope="row">{{alm.codigo}}</th>
          <td>{{alm.codigo}}</td>
          <td>{{alm.descripcion}}</td>
          <td>{{alm.equivalencia}}</td>
        <!-- Botones -->
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalEditar"
          (click)="readAgrupacionDeCreditos(alm.codigo)">
          <i class="fas fa-edit"></i></button></td>
      <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalConfirmacion"
        (click)="readAgrupacionDeCreditos(alm.codigo)"> <i class="far fa-trash-alt"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="pagination-container">
    <nav>
        <ul class="pagination justify-content-center"></ul>
    </nav>
</div>
<pagination-controls style="text-align: center" (pageChange)="p = $event"></pagination-controls>


<!-- Boton Agregar -->
<div class="BtnAgregar">
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalAgregar"
    (click)="ModalAgregar">Agregar</button>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>