<app-sidenav></app-sidenav>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<div id="content">
  <form>
    <div class="list-group">
      <a class="list-group-item list-group-dark">
        Parametrizacion Por Productos 
      </a>
      <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#ModalNumero1"
        (click)="ModalNumero" disabled="true">1.Evento de solicitudes</button >
      <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#ModalNumero"
        (click)="ModalNumero" disabled="true">2.Documetos a Prestar x Documetos</button>
      <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#ModalNumero3"
        (click)="ModalNumero" disabled="true">3.Montos por palzo</button>
      <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#ModalNumero2"
        (click)="ModalNumero" disabled="true">4.Porcentajes de Financiamineto</button>
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#ModalNumero4"
        (click)="ModalNumero" disabled="true">5.Rango De Plazo Por Interes</button>
    </div>
  </form>
</div>

<div class="modal fade" id="ModalNumero" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Registro Control</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body col-md-5 ">
        <label for="fecha">Fecha del Sistema:</label> <br>
        <label for="fecha">Fecha Anterior</label>
        <div class="col-xs-12 col-12 col-md-4 form-group">
          <div class="datepicker">
            <input type="text" placeholder=" " class="form-control" bsDatepicker
              [bsConfig]="{ adaptivePosition: true }">
          </div>
        </div>
        <label for="fecha">Fecha Vigente del Sistema</label>
        <div class="col-xs-12 col-12 col-md-4 form-group">
          <div class="datepicker">
            <input type="text" placeholder=" " class="form-control" bsDatepicker
              [bsConfig]="{ adaptivePosition: true }">
          </div>
        </div>
        <label for="fecha">Siguiente Fecha Habil</label>
        <div class="col-xs-12 col-12 col-md-4 form-group">
          <div class="datepicker">
            <input type="text" placeholder=" " class="form-control" bsDatepicker
              [bsConfig]="{ adaptivePosition: true }">
          </div>
        </div>
        <label for="codigo">Dias a Calcular:</label>
        <input type="text" autocomplete="off" class="form-control" name="codigo" id="codigo"
          placeholder="Ingresar el dia"><br>
        <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#ModalConfirmacion1"
          (click)="ModalConfirmacion1">Aceptar</button>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="ModalNumero2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Configuración del Sistema</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body col-md-5 ">
        <label for="fecha">Fecha de Valor:</label><br>
        <label for="fecha">Fecha Permitida</label>
        <div class="col-xs-12 col-12 col-md-4 form-group">
          <div class="datepicker">
            <input type="text" placeholder=" " class="form-control" bsDatepicker
              [bsConfig]="{ adaptivePosition: true }">
          </div>
        </div>
        <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#ModalConfirmacion1"
          (click)="ModalConfirmacion1">Aceptar</button>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalNumero3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Mantenimiento de Provision</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body col-md-5 ">
        <div class="labelyimpo">
          <label for="codigo">Provisión:</label>
          <input type="text" autocomplete="off" class="form-control" name="codigo01" id="codigo" style="width:25%;">
        </div><br>
        <div class="custom-control custom-radio">

          <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio1">Realice Calculo</label>
          <label class="custom-label">(S/N)</label>
        </div>
        <br>

        <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#ModalConfirmacion1"
          (click)="ModalConfirmacion1">Aceptar</button>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal numero-->
<div class="modal fade" id="ModalNumero1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Número automático de Generacion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-body col-md-7 ">
          <div class="form-group">
            <label for="codigo">Siguiente Recibo:</label>
            <input type="text" autocomplete="off" class="form-control" name="codigo" id="codigo"
              placeholder="Ingresar el Recibo"><br>
            <button type="submit" class="btn btn-dark" data-toggle="modal" data-target="#ModalConfirmacion2"
              (click)="ModalConfirmacion2">Aceptar</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
        <!-- <div class="modal-footer"> </div> -->
      </div>
    </div>
  </div>