<app-sidenav></app-sidenav>



<!--Todo debe ir dentro del div content-->
<div id="content">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <carousel>
        <slide>
          <img src="assets/home.jpg" alt="first slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/home2.jpg" alt="second slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/home3.jpg" alt="third slide" style="display: block; width: 100%;">
        </slide>
      </carousel>
    </div>
  </nav>
</div>