h1 {
    text-decoration: underline;
    display: inline;
    position: fixed;
    top: 20%;
    left: 40%
  }
  
  #content {
    margin: auto;
    width: 55%;
    margin-right: 25%;
    margin-top: 11%;
    
  }
  
  #buscador {
    margin-left: 30%;
    display: inline-block;
    transform: translate(100%, 210%);
  }
  
  .BtnAgregar {
    margin-left: 73%;
  }