h1 {
    text-decoration: underline;
    display: inline;
    position: fixed;
    top: 20%;
    left: 49%;
}

#content {
    margin: auto;
    width: 55%;
    margin-right: 15%;
    margin-top: 15%;
    background: rgb(239, 243, 245);
}

#buscador {
    margin-left: 45%;
    display: inline-block;
    position: relative;
    transform: translate(170%, 700%);
}

.BtnAgregar {
    margin-left: 73%;
}