<app-sidenav></app-sidenav>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">




<!-- EVENTOS DE MODALS-->
<!-- Modal AGREGAR-->
<div class="modal fade" id="ModalAgregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Registro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-body col-md-7 ">
          <div class="form-group">
            <label for="codigo">Plazo Minimo:</label>
            <input type="text" autocomplete="off" class="form-control" name="pminimo" id="pminimo"
              placeholder="Ingresar el plazo">
          </div>
          <div class="form-group">
            <label for="descripcion">Plazo Maximo:</label>
            <input type="text" autocomplete="off" class="form-control" name="pmaximo" id="pmaximo"
              placeholder="Ingresar el plazo">
          </div>

          <div class="form-group">
              <label for="descripcion">Tasa:</label>
              <input type="text" autocomplete="off" class="form-control" name="tasa" id="tasa"
                placeholder="Ingresar Tasa">
            </div>

          <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#ModalConfirmacion2"
            (click)="ModalConfirmacion2">Aceptar</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      <!-- <div class="modal-footer"> </div> -->
    </div>
  </div>
</div>



<!-- Modal eliminar -->
<div class="modal fade" id="ModalConfirmacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmacion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Esta seguro de eliminar este dato?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger">Si</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal editar -->
<div class="modal fade" id="ModalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Editar</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body col-md-5 ">
        <div class="form-group ">
          <label for="exampleInputPassword1">Plazo Minimo:</label>
          <input type="text" autocomplete="off" class="form-control" name="pminimo" id="pminimo"
            placeholder="Editar PLazo">
        </div>

        <div class="form-group ">
          <label for="exampleInputPassword1">Plazo Maximo:</label>
          <input type="text" autocomplete="off" class="form-control" name="pmaximo" id="pmaximo"
            placeholder="Editar Plazo">
        </div>

        <div class="form-group ">
            <label for="exampleInputPassword1">Tasa:</label>
            <input type="text" autocomplete="off" class="form-control" name="tasa" id="tasa"
              placeholder="Editar Tasa">
          </div>

        <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#ModalConfirmacion1"
          (click)="ModalConfirmacion1">Aceptar</button>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal confirmacion editar -->
<div class="modal fade" id="ModalConfirmacion1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmacion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Esta seguro de editar este dato?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger">Si</button>
      </div>
    </div>
  </div>
</div>
<!--------------------->



<!-- TABLE -->

<div id="content">
    <H1>Rango de plazos por interes</H1>
    <!-- buscar -->
<form class="form-inline my-2 my-lg-0" id="buscador">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Buscar</button>
  </form>
  <table class="table">
    <thead class="thead-dark">
      <!-- Columnas -->
      <tr>
        <th scope="col">Plazo Minimo</th>
        <th scope="col">Plazo Maximo</th>
        <th scope="col">Tasa</th>
        <th scope="col"> </th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>

      <!-- Datos Estaticos -->
      <tr>
        <th scope="row">0</th>
        <td>0</td>
        <td>0.0000</td>


        <!-- Botones -->
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalEditar"
            (click)="ModalEditar"><i class="fas fa-edit"></i></button></td>
        <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalConfirmacion"
            (click)="ModalConfirmacion"> <i class="far fa-trash-alt"></i></button></td>
      </tr>
      <tr>
          <th scope="row">0</th>
          <td>0</td>
          <td>0.0000</td>

        <!-- Botones -->
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalEditar"
            (click)="ModalEditar"><i class="fas fa-edit"></i></button></td>
        <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalConfirmacion"
            (click)="ModalConfirmacion"> <i class="far fa-trash-alt"></i></button></td>
      </tr>
      <tr>
          <th scope="row">0</th>
          <td>0</td>
          <td>0.0000</td>

        <!-- Botones -->
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalEditar"
            (click)="ModalEditar"><i class="fas fa-edit"></i></button></td>
        <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalConfirmacion"
            (click)="ModalConfirmacion"> <i class="far fa-trash-alt"></i></button></td>
      </tr>

    </tbody>
  </table>
  <!-- Boton Agregar -->
<div class="BtnAgregar">
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalAgregar"
    (click)="ModalAgregar">Agregar</button>
</div>

<!--Paginacion -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
</div>




