<app-sidenav></app-sidenav>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


<!-- ALERTAS -->


<!-- Alerta EDIT -->
<div id="alertaEdit" class="alert alert-warning collapse">
  <a id="linkClose" style="cursor:pointer" class="close">&times;</a>
  <strong>Editado Correctamente</strong>
</div>

<!-- Alerta DELETE -->
<div id="alertaDelete" class="alert alert-danger collapse">
  <a id="linkClose" style="cursor:pointer" class="close">&times;</a>
  <strong>Eliminado Correctamente</strong>
</div>




<!-- EVENTOS DE MODALS-->
<!-- Modal AGREGAR-->
<div class="modal fade" id="ModalAgregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- Alerta ADD -->
      <div id="alertaAdd" class="alert alert-success collapse">
        <a id="linkClose" style="cursor:pointer" class="close">&times;</a>
        <strong>Agregado Correctamente</strong>
      </div>
      <form #formAddInstancia="ngForm" (ngSubmit)="addInstancia()">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-body col-md-7 ">
            <div class="form-group">
              <label for="codigo">Codigo</label>
              <input type="text" maxlength="2" #codigo="ngModel" [(ngModel)]="instanciasModel.codigo" autocomplete="off"
                class="form-control" name="codigo" id="codigo" placeholder="Ingresar el codigo">
            </div>
            <div class="form-group">
              <label for="descripcion">Descripcion:</label>
              <input type="text" #descripcion="ngModel" [(ngModel)]="instanciasModel.descripcion" autocomplete="off"
                class="form-control" name="descripcion" id="descripcion" placeholder="Ingresar descripcion">
            </div>

          </div>
          <div class="modal-footer">
            <button type="submit" id="guardado" class="btn btn-danger" data-toggle="modal">Aceptar</button>
          </div>
        </div>
      </form>
      <!-- <div class="modal-footer"> </div> -->
    </div>
  </div>
</div>



<!-- Modal eliminar -->
<div class="modal fade" id="ModalConfirmacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form #formDeleteInstancia="ngForm" (ngSubmit)="deleteInstancia(id)">
        <div class="modal-header">
          <h5 class="modal-title">Confirmacion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Esta seguro de eliminar este dato?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
          <button type="submit" id="eliminado" class="btn btn-danger" (click)="deleteInstancia()"
            data-dismiss="modal">Si</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal editar -->
<div class="modal fade" id="ModalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form #formEditInstancia="ngForm" (ngSubmit)="editInstancia(id)">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Editar</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body col-md-5 ">
          <div class="form-group">
            <label for="descripcion">Descripcion:</label>
            <input type="text" #descripcion="ngModel" [(ngModel)]="instancia.descripcion" autocomplete="off"
              class="form-control" name="descripcion" id="descripcion" placeholder="Ingresar descripcion">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" id="editado" class="btn btn-danger" data-toggle="modal" (click)="editInstancia()"
            data-dismiss="modal">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal Visualizar -->
<div class="modal fade" id="ModalVisualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form #formAddInstancia="ngForm">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Visualizar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-body col-md-7 ">
            <div class="form-group">
              <label for="codigoInstancia">Codigo</label>
              <input type="text" #codigoInstancia="ngModel" [(ngModel)]="instancia.codigoInstancia" autocomplete="off"
                class="form-control" name="codigoInstancia" id="codigoInstancia" readonly>
            </div>
            <div class="form-group">
              <label for="descripcion">Descripcion:</label>
              <input type="text" #descripcion="ngModel" [(ngModel)]="instancia.descripcion" autocomplete="off"
                class="form-control" name="descripcion" id="descripcion" readonly>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </form>
      <!-- <div class="modal-footer"> </div> -->
    </div>
  </div>
</div>



<!-- TABLE -->
<H1>Instancia</H1>
<form class="form-inline my-2 my-lg-0" id="buscador">
  <input class="form-control mr-sm-2" type="search" [(ngModel)]="busquedaInstancia" name="something"
    placeholder="Buscar" aria-label="Search">
</form>

<div id="content">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Descripcion</th>
        <th scope="col"> </th>
        <th scope="col"> </th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor='let ins of visualizarInstancia | searchInstancia: busquedaInstancia  | paginate: { itemsPerPage: 4, currentPage: p }'>
        <td>{{ins.codigoInstancia}}</td>
        <td>{{ins.descripcion}}</td>


        <!-- Botones -->
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalEditar"
            (click)="readInstancia(ins.codigoInstancia)"><i class="fas fa-edit"></i></button></td>
        <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalConfirmacion"
            (click)="readInstancia(ins.codigoInstancia)"> <i class="far fa-trash-alt"></i></button></td>
        <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalVisualizar"
          (click)="readInstancia(ins.codigoInstancia)"> <i class="fas fa-eye"></i></button></td>
      </tr>

    </tbody>
  </table>
</div>
<div class="pagination-container">
  <nav>
    <ul class="pagination justify-content-center"></ul>
  </nav>
</div>
<pagination-controls style="text-align: center" (pageChange)="p = $event"></pagination-controls>


<!-- Boton Agregar -->
<div class="BtnAgregar">
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalAgregar"
    (click)="ModalAgregar">Agregar</button>
</div>