h1 {
    text-decoration: underline;
    display: inline;
    position: fixed;
    top: 20%;
    left: 49%;
}

#content {
    margin: auto;
    width: 55%;
    margin-right: 15%;
    margin-top: 15%;
    background: rgb(239, 243, 245);
}

#buscador {
    margin-left: 45%;
    display: inline-block;
    position: relative;
    transform: translate(170%, 700%);
}

.BtnAgregar {
    margin-left: 73%;
}

.radio [type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.radio [type="radio"]:checked+label,
.radio [type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

.radio [type="radio"]:checked+label:before,
.radio [type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

.radio [type="radio"]:checked+label:after,
.radio [type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 3.5px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.radio [type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.radio [type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}