<app-sidenav></app-sidenav>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<!-- buscar -->
<form class="form-inline my-2 my-lg-0" id="buscador">
  <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
  <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Buscar</button>
</form>


<!-- EVENTOS DE MODALS-->

<!-- Modal AGREGAR-->
<div class="modal fade" id="ModalAgregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Registro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-body col-md-7 ">
          <div class="form-group">
            <label for="codigo">Codigo</label>
            <input type="text" autocomplete="off" class="form-control" name="codigo" id="codigo"
              placeholder="Ingresar el codigo">
          </div>
          <div class="form-group">
            <label for="descripcion">Descripcion:</label>
            <input type="text" autocomplete="off" class="form-control" name="descripcion" id="descripcion"
              placeholder="Ingresar descripcion">
          </div>
          <div class="form-group">
            <label for="cupos">Se utiliza en cupos</label>
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
              <label class="custom-control-label" for="customRadio1">Si</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio2" name="customRadio2" class="custom-control-input">
              <label class="custom-control-label" for="customRadio2">No</label>
            </div>
          </div>
          <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#ModalConfirmacion2"
            (click)="ModalConfirmacion2">Aceptar</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      <!-- <div class="modal-footer"> </div> -->
    </div>
  </div>
</div>



<!-- Modal eliminar -->
<div class="modal fade" id="ModalConfirmacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmacion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Esta seguro de eliminar este dato?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger">Si</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal editar -->
<div class="modal fade" id="ModalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Editar</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body col-md-7 ">
        <div class="form-group ">
          <label for="exampleInpup">Descripcion:</label>
          <input type="text" autocomplete="off" class="form-control" name="descripcion" id="descripcion"
            placeholder="Ingresar descripcion">
        </div>
        <div class="form-group">
          <label for="cupos">Se utiliza en cupos</label>
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="customRadio1">Si</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio2" name="customRadio2" class="custom-control-input">
            <label class="custom-control-label" for="customRadio2">No</label>
          </div>
        </div>
        <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#ModalConfirmacion1"
          (click)="ModalConfirmacion1">Aceptar</button>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal confirmacion editar -->
<div class="modal fade" id="ModalConfirmacion1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmacion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Esta seguro de editar este dato?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger">Si</button>
      </div>
    </div>
  </div>
</div>
<!--------------------->



<!-- TABLE -->
<h1>Tipos de Transaccion</h1>
<div id="content">
  <table class="table">
    <thead class="thead-dark">
      <!-- Columnas -->
      <tr>
        <th scope="col">Select</th>
        <th scope="col">Codigo</th>
        <th scope="col">Descripcion</th>
        <th scope="col"> </th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>

      <!-- Datos Estaticos -->
      <tr>
        <th scope="row">1</th>
        <td>AGE</td>
        <td>Agencia</td>
        <!-- Botones -->
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalEditar"
            (click)="ModalEditar"><i class="fas fa-edit"></i></button></td>
        <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalConfirmacion"
            (click)="ModalConfirmacion"> <i class="far fa-trash-alt"></i></button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>AMP</td>
        <td>Ampliaciones</td>
        <!-- Botones -->
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalEditar"
            (click)="ModalEditar"><i class="fas fa-edit"></i></button></td>
        <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalConfirmacion"
            (click)="ModalConfirmacion"> <i class="far fa-trash-alt"></i></button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>AMT</td>
        <td>Amortizaciones</td>
        <!-- Botones -->
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalEditar"
            (click)="ModalEditar"><i class="fas fa-edit"></i></button></td>
        <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalConfirmacion"
            (click)="ModalConfirmacion"> <i class="far fa-trash-alt"></i></button></td>
      </tr>

    </tbody>
  </table>
</div>


<!-- Boton Agregar -->
<div class="BtnAgregar">
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalAgregar"
    (click)="ModalAgregar">Agregar</button>
</div>

<!--Paginacion -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">4</a></li>

    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>